<div>
<a href="/inventory/add">Add an Item</a>&nbsp to your inventory.
</div>
<% @things.each do |thing| %>
  <div>
    <h2>Ingredient</h2>
    <div>
        <%= thing.title %>
    </div>
    <div>
        <%= thing.description %>
    </div>
    <div>
    <%= thing.quantity %>
    </div>
    <a href="/inventory/<%= thing.id %>/edit">Edit</a>
    <form method="post" action="/inventory/<%=thing.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
    </form>
  </div>
<% end %>